<h1>Listing tweepsters</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Followers</th>
    <th>Collected</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweepsters.each do |tweepster| %>
  <tr>
    <td><%= tweepster.username %></td>
    <td><%= tweepster.follower_count %></td>
    <td><%= tweepster.followers.size %></td>
    <td><%= link_to 'Show', tweepster %></td>
    <td><%= link_to 'Edit', edit_tweepster_path(tweepster) %></td>
    <td><%= link_to 'Destroy', tweepster, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweepster', new_tweepster_path %>
