<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @tweepster.username %>
</p>

<p>
  <b>Total Followers:</b>
  <%= @tweepster.follower_count %>
</p>

<p>
  <b>Collected Followers:</b>
  <%= @tweepster.followers.count %>
</p>


<%= link_to 'Edit', edit_tweepster_path(@tweepster) %> |
<%= link_to 'Back', tweepsters_path %>
