<% content_for :header do %>
  <META HTTP-EQUIV=Refresh CONTENT="1">
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @tweepster.username %>
</p>

<p>
  <b>Total Followers (updated hourly):</b>
  <%= @tweepster.follower_count %>
</p>

<p>
  <b>Collected Followers:</b>
  <%= @tweepster.followers.count %>
</p>

<p>
  <b>Cursor Position:</b>
  <%= @tweepster.cursor %>
</p>


<%= link_to 'Edit', edit_tweepster_path(@tweepster) %> |
<%= link_to 'Back', tweepsters_path %>
