<!DOCTYPE html>
<html>
<head>
  <title>SnowSample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
  <footer>
  	<%= Twitter.rate_limit_status.remaining_hits.to_s + " Twitter API request(s)   remaining this hour" %>
  </footer>
</body>
</html>
